# Ignore everything
*

# Do not ignore the .gitignore file itself
!.gitignore

# Do not ignore the main folder
!Philadelphia/

# Ignore everything inside Philadelphia by default
Philadelphia/*

# Allow only these specific subfolders inside Philadelphia
!Philadelphia/Classes/
!Philadelphia/Classes/**

!Philadelphia/HR/
!Philadelphia/HR/**

!Philadelphia/Definitions/
!Philadelphia/Definitions/**
